# Assignment 1

In [105]:
import pandas as pd
import numpy as np

Import movies data.

In [4]:
data = pd.read_csv('data.csv')
data

,User,"Gender (1 =F, 0=M)",260: Star Wars: Episode IV - A New Hope (1977),1210: Star Wars: Episode VI - Return of the Jedi (1983),356: Forrest Gump (1994),"318: Shawshank Redemption, The (1994)","593: Silence of the Lambs, The (1991)",3578: Gladiator (2000),1: Toy Story (1995),2028: Saving Private Ryan (1998),...,2396: Shakespeare in Love (1998),2916: Total Recall (1990),780: Independence Day (ID4) (1996),541: Blade Runner (1982),1265: Groundhog Day (1993),"2571: Matrix, The (1999)",527: Schindler's List (1993),"2762: Sixth Sense, The (1999)",1198: Raiders of the Lost Ark (1981),34: Babe (1995)
0,755,0,1.0,5.0,2.0,NaN,4.0,4.0,2.0,2.0,...,2.0,NaN,5.0,2.0,NaN,4.0,2.0,5.0,NaN,NaN
1,5277,0,5.0,3.0,NaN,2.0,4.0,2.0,1.0,NaN,...,3.0,2.0,2.0,NaN,2.0,NaN,5.0,1.0,3.0,NaN
2,1577,1,NaN,NaN,NaN,5.0,2.0,NaN,4.0,NaN,...,NaN,1.0,4.0,4.0,1.0,1.0,2.0,3.0,1.0,3.0
3,4388,0,NaN,3.0,NaN,NaN,NaN,1.0,2.0,3.0,...,NaN,4.0,1.0,3.0,5.0,NaN,5.0,1.0,1.0,2.0
4,1202,1,4.0,3.0,4.0,1.0,4.0,1.0,NaN,4.0,...,5.0,1.0,NaN,4.0,NaN,3.0,5.0,5.0,NaN,NaN
5,3823,1,2.0,4.0,4.0,4.0,NaN,NaN,3.0,1.0,...,5.0,2.0,4.0,NaN,1.0,NaN,NaN,3.0,NaN,2.0
6,5448,0,NaN,NaN,3.0,1.0,1.0,4.0,NaN,5.0,...,1.0,NaN,NaN,3.0,NaN,1.0,NaN,NaN,5.0,2.0
7,5347,0,4.0,NaN,NaN,NaN,3.0,2.0,2.0,NaN,...,NaN,2.0,3.0,2.0,4.0,NaN,1.0,3.0,5.0,NaN
8,4117,1,5.0,1.0,NaN,4.0,2.0,4.0,4.0,4.0,...,2.0,3.0,1.0,NaN,5.0,NaN,NaN,NaN,NaN,5.0
9,2765,0,4.0,2.0,NaN,5.0,3.0,NaN,4.0,3.0,...,NaN,NaN,2.0,NaN,NaN,2.0,5.0,1.0,NaN,NaN
10,5450,1,2.0,1.0,5.0,NaN,NaN,5.0,5.0,NaN,...,NaN,3.0,2.0,NaN,NaN,1.0,NaN,2.0,1.0,4.0
11,139,0,3.0,5.0,2.0,NaN,2.0,NaN,2.0,NaN,...,3.0,NaN,3.0,NaN,2.0,5.0,NaN,NaN,NaN,2.0
12,1940,0,2.0,3.0,NaN,5.0,4.0,NaN,4.0,5.0,...,NaN,2.0,4.0,NaN,3.0,NaN,NaN,NaN,5.0,NaN
13,3118,1,3.0,NaN,3.0,NaN,2.0,NaN,3.0,NaN,...,NaN,1.0,2.0,2.0,3.0,5.0,1.0,NaN,NaN,NaN
14,4656,1,4.0,4.0,NaN,NaN,5.0,5.0,2.0,NaN,...,NaN,1.0,3.0,NaN,2.0,NaN,3.0,NaN,3.0,1.0
15,4796,1,NaN,NaN,1.0,NaN,3.0,2.0,NaN,2.0,...,5.0,NaN,NaN,NaN,5.0,2.0,2.0,4.0,3.0,4.0
16,6037,0,NaN,NaN,NaN,NaN,4.0,NaN,2.0,NaN,...,2.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN
17,3048,1,4.0,5.0,1.0,5.0,1.0,1.0,4.0,NaN,...,NaN,NaN,NaN,4.0,NaN,NaN,2.0,1.0,2.0,5.0
18,4790,0,5.0,1.0,NaN,NaN,NaN,4.0,2.0,1.0,...,3.0,1.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN
19,4489,0,1.0,2.0,2.0,4.0,5.0,NaN,2.0,3.0,...,1.0,NaN,NaN,5.0,5.0,4.0,3.0,5.0,3.0,NaN

**Mean rating.**

Rank movies by mean rating, ordered with the highest rating listed first.

In [9]:
data.mean().sort_values(ascending=False)

User                                                       3658.100000
318: Shawshank Redemption, The (1994)                         3.600000
260: Star Wars: Episode IV - A New Hope (1977)                3.266667
541: Blade Runner (1982)                                      3.222222
1265: Groundhog Day (1993)                                    3.166667
593: Silence of the Lambs, The (1991)                         3.062500
2028: Saving Private Ryan (1998)                              3.000000
1210: Star Wars: Episode VI - Return of the Jedi (1983)       3.000000
34: Babe (1995)                                               3.000000
527: Schindler's List (1993)                                  3.000000
296: Pulp Fiction (1994)                                      3.000000
3578: Gladiator (2000)                                        2.916667
2396: Shakespeare in Love (1998)                              2.909091
1198: Raiders of the Lost Ark (1981)                          2.909091
2571: Matrix, The (1999)                                      2.833333
2762: Sixth Sense, The (1999)                                 2.833333
1: Toy Story (1995)                                           2.823529
780: Independence Day (ID4) (1996)                            2.769231
356: Forrest Gump (1994)                                      2.700000
1259: Stand by Me (1986)                                      2.636364
2916: Total Recall (1990)                                     1.916667
Gender (1 =F, 0=M)                                            0.450000
dtype: float64

**Rating count (popularity).**

Rank movies by number of ratings, ordered with the most number of ratings first.

In [31]:
counts = data.count().sort_values(ascending=False)
counts

User                                                       20
Gender (1 =F, 0=M)                                         20
1: Toy Story (1995)                                        17
593: Silence of the Lambs, The (1991)                      16
260: Star Wars: Episode IV - A New Hope (1977)             15
1210: Star Wars: Episode VI - Return of the Jedi (1983)    14
780: Independence Day (ID4) (1996)                         13
2762: Sixth Sense, The (1999)                              12
527: Schindler's List (1993)                               12
2571: Matrix, The (1999)                                   12
1265: Groundhog Day (1993)                                 12
2916: Total Recall (1990)                                  12
3578: Gladiator (2000)                                     12
296: Pulp Fiction (1994)                                   11
2028: Saving Private Ryan (1998)                           11
1198: Raiders of the Lost Ark (1981)                       11
1259: Stand by Me (1986)                                   11
2396: Shakespeare in Love (1998)                           11
318: Shawshank Redemption, The (1994)                      10
356: Forrest Gump (1994)                                   10
34: Babe (1995)                                            10
541: Blade Runner (1982)                                    9
dtype: int64

**% of ratings 4+ (liking).**

Rank movies by percentage of rating received with a score 4 or higher, ordered with the highest percentage first.

In [34]:
((data >= 4.0).sum() / counts).sort_values(ascending=False)

User                                                       1.000000
318: Shawshank Redemption, The (1994)                      0.700000
260: Star Wars: Episode IV - A New Hope (1977)             0.533333
3578: Gladiator (2000)                                     0.500000
541: Blade Runner (1982)                                   0.444444
593: Silence of the Lambs, The (1991)                      0.437500
1265: Groundhog Day (1993)                                 0.416667
2571: Matrix, The (1999)                                   0.416667
34: Babe (1995)                                            0.400000
296: Pulp Fiction (1994)                                   0.363636
1259: Stand by Me (1986)                                   0.363636
2028: Saving Private Ryan (1998)                           0.363636
1210: Star Wars: Episode VI - Return of the Jedi (1983)    0.357143
1: Toy Story (1995)                                        0.352941
527: Schindler's List (1993)                               0.333333
2762: Sixth Sense, The (1999)                              0.333333
780: Independence Day (ID4) (1996)                         0.307692
356: Forrest Gump (1994)                                   0.300000
1198: Raiders of the Lost Ark (1981)                       0.272727
2396: Shakespeare in Love (1998)                           0.272727
2916: Total Recall (1990)                                  0.083333
Gender (1 =F, 0=M)                                         0.000000
dtype: float64

**Top movies for someone who has seen Toy Story.**

Rank movies by highest association score with Toy Story. In other words, for each movie, calculate the percentage of Toy Story raters who also rated that movie. 

*association score = [(movie AND Toy Story) / Toy Story]*

In [113]:
# Get data subset for Toy Story ratings that are not null, also dropping unnecessary columns
data_subset = data[data['1: Toy Story (1995)'].notnull()].drop(columns=['User', 'Gender (1 =F, 0=M)']).reset_index(drop=True)
data_subset

,260: Star Wars: Episode IV - A New Hope (1977),1210: Star Wars: Episode VI - Return of the Jedi (1983),356: Forrest Gump (1994),"318: Shawshank Redemption, The (1994)","593: Silence of the Lambs, The (1991)",3578: Gladiator (2000),1: Toy Story (1995),2028: Saving Private Ryan (1998),296: Pulp Fiction (1994),1259: Stand by Me (1986),2396: Shakespeare in Love (1998),2916: Total Recall (1990),780: Independence Day (ID4) (1996),541: Blade Runner (1982),1265: Groundhog Day (1993),"2571: Matrix, The (1999)",527: Schindler's List (1993),"2762: Sixth Sense, The (1999)",1198: Raiders of the Lost Ark (1981),34: Babe (1995)
0,1.0,5.0,2.0,NaN,4.0,4.0,2.0,2.0,NaN,3.0,2.0,NaN,5.0,2.0,NaN,4.0,2.0,5.0,NaN,NaN
1,5.0,3.0,NaN,2.0,4.0,2.0,1.0,NaN,NaN,4.0,3.0,2.0,2.0,NaN,2.0,NaN,5.0,1.0,3.0,NaN
2,NaN,NaN,NaN,5.0,2.0,NaN,4.0,NaN,NaN,1.0,NaN,1.0,4.0,4.0,1.0,1.0,2.0,3.0,1.0,3.0
3,NaN,3.0,NaN,NaN,NaN,1.0,2.0,3.0,4.0,NaN,NaN,4.0,1.0,3.0,5.0,NaN,5.0,1.0,1.0,2.0
4,2.0,4.0,4.0,4.0,NaN,NaN,3.0,1.0,4.0,4.0,5.0,2.0,4.0,NaN,1.0,NaN,NaN,3.0,NaN,2.0
5,4.0,NaN,NaN,NaN,3.0,2.0,2.0,NaN,3.0,NaN,NaN,2.0,3.0,2.0,4.0,NaN,1.0,3.0,5.0,NaN
6,5.0,1.0,NaN,4.0,2.0,4.0,4.0,4.0,NaN,1.0,2.0,3.0,1.0,NaN,5.0,NaN,NaN,NaN,NaN,5.0
7,4.0,2.0,NaN,5.0,3.0,NaN,4.0,3.0,4.0,NaN,NaN,NaN,2.0,NaN,NaN,2.0,5.0,1.0,NaN,NaN
8,2.0,1.0,5.0,NaN,NaN,5.0,5.0,NaN,NaN,NaN,NaN,3.0,2.0,NaN,NaN,1.0,NaN,2.0,1.0,4.0
9,3.0,5.0,2.0,NaN,2.0,NaN,2.0,NaN,1.0,NaN,3.0,NaN,3.0,NaN,2.0,5.0,NaN,NaN,NaN,2.0
10,2.0,3.0,NaN,5.0,4.0,NaN,4.0,5.0,NaN,NaN,NaN,2.0,4.0,NaN,3.0,NaN,NaN,NaN,5.0,NaN
11,3.0,NaN,3.0,NaN,2.0,NaN,3.0,NaN,NaN,4.0,NaN,1.0,2.0,2.0,3.0,5.0,1.0,NaN,NaN,NaN
12,4.0,4.0,NaN,NaN,5.0,5.0,2.0,NaN,3.0,5.0,NaN,1.0,3.0,NaN,2.0,NaN,3.0,NaN,3.0,1.0
13,NaN,NaN,NaN,NaN,4.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN
14,4.0,5.0,1.0,5.0,1.0,1.0,4.0,NaN,5.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,2.0,1.0,2.0,5.0
15,5.0,1.0,NaN,NaN,NaN,4.0,2.0,1.0,3.0,3.0,3.0,1.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN
16,1.0,2.0,2.0,4.0,5.0,NaN,2.0,3.0,2.0,2.0,1.0,NaN,NaN,5.0,5.0,4.0,3.0,5.0,3.0,NaN

In [114]:
percentages = ((data_subset.count()) / data_subset['1: Toy Story (1995)'].count())
percentages

260: Star Wars: Episode IV - A New Hope (1977)             0.823529
1210: Star Wars: Episode VI - Return of the Jedi (1983)    0.764706
356: Forrest Gump (1994)                                   0.411765
318: Shawshank Redemption, The (1994)                      0.470588
593: Silence of the Lambs, The (1991)                      0.764706
3578: Gladiator (2000)                                     0.529412
1: Toy Story (1995)                                        1.000000
2028: Saving Private Ryan (1998)                           0.470588
296: Pulp Fiction (1994)                                   0.588235
1259: Stand by Me (1986)                                   0.529412
2396: Shakespeare in Love (1998)                           0.470588
2916: Total Recall (1990)                                  0.647059
780: Independence Day (ID4) (1996)                         0.764706
541: Blade Runner (1982)                                   0.411765
1265: Groundhog Day (1993)                                 0.647059
2571: Matrix, The (1999)                                   0.529412
527: Schindler's List (1993)                               0.588235
2762: Sixth Sense, The (1999)                              0.588235
1198: Raiders of the Lost Ark (1981)                       0.529412
34: Babe (1995)                                            0.470588
dtype: float64

In [124]:
# WOULD NEED TO SPLIT OUT THE NUMBERS TO BE ABLE TO SORT BY THEM TOO, 
# SINCE THIS IS CURRENTLY LOOKING AT THE MOVIE TITLE AS A WHOLE
percentages.sort_index().sort_values(kind='mergesort', ascending=False)

1: Toy Story (1995)                                        1.000000
260: Star Wars: Episode IV - A New Hope (1977)             0.823529
780: Independence Day (ID4) (1996)                         0.764706
593: Silence of the Lambs, The (1991)                      0.764706
1210: Star Wars: Episode VI - Return of the Jedi (1983)    0.764706
2916: Total Recall (1990)                                  0.647059
1265: Groundhog Day (1993)                                 0.647059
527: Schindler's List (1993)                               0.588235
296: Pulp Fiction (1994)                                   0.588235
2762: Sixth Sense, The (1999)                              0.588235
3578: Gladiator (2000)                                     0.529412
2571: Matrix, The (1999)                                   0.529412
1259: Stand by Me (1986)                                   0.529412
1198: Raiders of the Lost Ark (1981)                       0.529412
34: Babe (1995)                                            0.470588
318: Shawshank Redemption, The (1994)                      0.470588
2396: Shakespeare in Love (1998)                           0.470588
2028: Saving Private Ryan (1998)                           0.470588
541: Blade Runner (1982)                                   0.411765
356: Forrest Gump (1994)                                   0.411765
dtype: float64

**Correlation with Toy Story.**

Calculate the correlation between the vectors of ratings for Toy Story and each other movie. Order by the highest correlation (positive only). Note the differences between co-occurrence and correlation; these metrics are showing different types of relationships.

In [102]:
corrs = data.corr()['1: Toy Story (1995)'].sort_values(ascending=False)
corrs

1: Toy Story (1995)                                        1.000000
318: Shawshank Redemption, The (1994)                      0.888523
34: Babe (1995)                                            0.811107
296: Pulp Fiction (1994)                                   0.709842
2028: Saving Private Ryan (1998)                           0.596849
Gender (1 =F, 0=M)                                         0.570232
356: Forrest Gump (1994)                                   0.522913
541: Blade Runner (1982)                                   0.329634
3578: Gladiator (2000)                                     0.253396
2916: Total Recall (1990)                                  0.163796
2396: Shakespeare in Love (1998)                           0.101768
1265: Groundhog Day (1993)                                -0.062858
780: Independence Day (ID4) (1996)                        -0.069923
260: Star Wars: Episode IV - A New Hope (1977)            -0.119005
User                                                      -0.189503
527: Schindler's List (1993)                              -0.220315
2762: Sixth Sense, The (1999)                             -0.245770
1198: Raiders of the Lost Ark (1981)                      -0.309067
1210: Star Wars: Episode VI - Return of the Jedi (1983)   -0.314504
593: Silence of the Lambs, The (1991)                     -0.568258
1259: Stand by Me (1986)                                  -0.610300
2571: Matrix, The (1999)                                  -0.721995
Name: 1: Toy Story (1995), dtype: float64

In [103]:
# Get positive correlations only
corrs[corrs > 0]

1: Toy Story (1995)                      1.000000
318: Shawshank Redemption, The (1994)    0.888523
34: Babe (1995)                          0.811107
296: Pulp Fiction (1994)                 0.709842
2028: Saving Private Ryan (1998)         0.596849
Gender (1 =F, 0=M)                       0.570232
356: Forrest Gump (1994)                 0.522913
541: Blade Runner (1982)                 0.329634
3578: Gladiator (2000)                   0.253396
2916: Total Recall (1990)                0.163796
2396: Shakespeare in Love (1998)         0.101768
Name: 1: Toy Story (1995), dtype: float64

**Mean rating difference by gender.** 

Recompute the mean rating for each movie separately for males and for females. Calculate the overall mean rating (across all ratings) for males and females. Find the two movies that have the greatest differences (one where men are most above women, and one where women are most above men) along with the differences in average. Also find the difference in overall rating averages (female average - male average).

In [203]:
# Calculate the overall mean rating for males and females 
# (AND NOTE THAT IN THE INDEX, 0=MALE, 1=FEMALE)
means = data.groupby(by='Gender (1 =F, 0=M)').mean().drop(columns=['User']).reset_index(drop=True)
means

,260: Star Wars: Episode IV - A New Hope (1977),1210: Star Wars: Episode VI - Return of the Jedi (1983),356: Forrest Gump (1994),"318: Shawshank Redemption, The (1994)","593: Silence of the Lambs, The (1991)",3578: Gladiator (2000),1: Toy Story (1995),2028: Saving Private Ryan (1998),296: Pulp Fiction (1994),1259: Stand by Me (1986),2396: Shakespeare in Love (1998),2916: Total Recall (1990),780: Independence Day (ID4) (1996),541: Blade Runner (1982),1265: Groundhog Day (1993),"2571: Matrix, The (1999)",527: Schindler's List (1993),"2762: Sixth Sense, The (1999)",1198: Raiders of the Lost Ark (1981),34: Babe (1995)
0,3.125000,3.0,2.25,3.4,3.333333,2.833333,2.300000,3.142857,2.625,3.000000,2.142857,2.200000,2.857143,3.0,3.500000,3.142857,3.5,2.666667,3.666667,2.000000
1,3.428571,3.0,3.00,3.8,2.714286,3.000000,3.571429,2.750000,4.000,2.428571,4.250000,1.714286,2.666667,3.5,2.833333,2.400000,2.5,3.000000,2.000000,3.428571

In [204]:
# Find differences in average ratings, with ratings from men subtracted from those from women 
# (an arbritrary choice, can subtract women from men using periods=-1 argument)
diffs = means.diff() 
diffs

,260: Star Wars: Episode IV - A New Hope (1977),1210: Star Wars: Episode VI - Return of the Jedi (1983),356: Forrest Gump (1994),"318: Shawshank Redemption, The (1994)","593: Silence of the Lambs, The (1991)",3578: Gladiator (2000),1: Toy Story (1995),2028: Saving Private Ryan (1998),296: Pulp Fiction (1994),1259: Stand by Me (1986),2396: Shakespeare in Love (1998),2916: Total Recall (1990),780: Independence Day (ID4) (1996),541: Blade Runner (1982),1265: Groundhog Day (1993),"2571: Matrix, The (1999)",527: Schindler's List (1993),"2762: Sixth Sense, The (1999)",1198: Raiders of the Lost Ark (1981),34: Babe (1995)
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.303571,0.0,0.75,0.4,-0.619048,0.166667,1.271429,-0.392857,1.375,-0.571429,2.107143,-0.485714,-0.190476,0.5,-0.666667,-0.742857,-1.0,0.333333,-1.666667,1.428571

In [205]:
# Find the movie that women rated the most higher than men 
# (maximum difference, as we subtracted men from women)
diffs.columns[diffs.eq(diffs.iloc[1].max()).any()][0]

'2396: Shakespeare in Love (1998)'

In [206]:
# What was its difference in average rating?
diffs.iloc[1].max()

2.107142857142857

In [207]:
# Find the movie that men rated the most higher than women
# (minimum difference, as we subtracted men from women)
diffs.columns[diffs.eq(diffs.iloc[1].min()).any()][0]

'1198: Raiders of the Lost Ark (1981)'

In [208]:
# What was its difference in average rating?
abs(diffs.iloc[1].min())

1.6666666666666665

In [226]:
# Find difference in the overall rating averages (female average - male average)
data.groupby(by='Gender (1 =F, 0=M)').sum().drop(columns=['User']).reset_index(drop=True).mean(axis=1).diff()[1]

-1.6499999999999986

**% of ratings 4+ (liking), by gender.**


Compute the % of ratings 4+ separately for males and females. Find the two movies with the largest difference in each direction, as above. Indicate whether men or women are more likely to rate movies 4 stars or above.

In [230]:
gender_counts = data.groupby(by='Gender (1 =F, 0=M)').count()
gender_counts

,User,260: Star Wars: Episode IV - A New Hope (1977),1210: Star Wars: Episode VI - Return of the Jedi (1983),356: Forrest Gump (1994),"318: Shawshank Redemption, The (1994)","593: Silence of the Lambs, The (1991)",3578: Gladiator (2000),1: Toy Story (1995),2028: Saving Private Ryan (1998),296: Pulp Fiction (1994),...,2396: Shakespeare in Love (1998),2916: Total Recall (1990),780: Independence Day (ID4) (1996),541: Blade Runner (1982),1265: Groundhog Day (1993),"2571: Matrix, The (1999)",527: Schindler's List (1993),"2762: Sixth Sense, The (1999)",1198: Raiders of the Lost Ark (1981),34: Babe (1995)
"Gender (1 =F, 0=M)",,,,,,,,,,,,,,,,,,,,,
0,11,8,8,4,5,9,6,10,7,8,...,7,5,7,5,6,7,6,6,6,3
1,9,7,6,6,5,7,6,7,4,3,...,4,7,6,4,6,5,6,6,5,7

In [235]:
# Rank % of ratings 4+ for females
women_likes = ((data[data['Gender (1 =F, 0=M)'] == 1] >= 4.0).sum() / gender_counts.iloc[1]).sort_values(ascending=False)
women_likes

User                                                       1.000000
318: Shawshank Redemption, The (1994)                      0.800000
2396: Shakespeare in Love (1998)                           0.750000
541: Blade Runner (1982)                                   0.750000
296: Pulp Fiction (1994)                                   0.666667
34: Babe (1995)                                            0.571429
260: Star Wars: Episode IV - A New Hope (1977)             0.571429
1: Toy Story (1995)                                        0.571429
3578: Gladiator (2000)                                     0.500000
356: Forrest Gump (1994)                                   0.500000
1210: Star Wars: Episode VI - Return of the Jedi (1983)    0.500000
2028: Saving Private Ryan (1998)                           0.500000
1259: Stand by Me (1986)                                   0.428571
780: Independence Day (ID4) (1996)                         0.333333
2762: Sixth Sense, The (1999)                              0.333333
1265: Groundhog Day (1993)                                 0.333333
593: Silence of the Lambs, The (1991)                      0.285714
2571: Matrix, The (1999)                                   0.200000
527: Schindler's List (1993)                               0.166667
2916: Total Recall (1990)                                  0.000000
1198: Raiders of the Lost Ark (1981)                       0.000000
Gender (1 =F, 0=M)                                              NaN
dtype: float64

In [234]:
# Rank % of ratings 4+ for males
men_likes = ((data[data['Gender (1 =F, 0=M)'] == 0] >= 4.0).sum() / gender_counts.iloc[0]).sort_values(ascending=False)
men_likes

User                                                       1.000000
318: Shawshank Redemption, The (1994)                      0.600000
2571: Matrix, The (1999)                                   0.571429
593: Silence of the Lambs, The (1991)                      0.555556
1265: Groundhog Day (1993)                                 0.500000
260: Star Wars: Episode IV - A New Hope (1977)             0.500000
1198: Raiders of the Lost Ark (1981)                       0.500000
3578: Gladiator (2000)                                     0.500000
527: Schindler's List (1993)                               0.500000
2762: Sixth Sense, The (1999)                              0.333333
780: Independence Day (ID4) (1996)                         0.285714
2028: Saving Private Ryan (1998)                           0.285714
296: Pulp Fiction (1994)                                   0.250000
1259: Stand by Me (1986)                                   0.250000
1210: Star Wars: Episode VI - Return of the Jedi (1983)    0.250000
1: Toy Story (1995)                                        0.200000
541: Blade Runner (1982)                                   0.200000
2916: Total Recall (1990)                                  0.200000
34: Babe (1995)                                            0.000000
356: Forrest Gump (1994)                                   0.000000
2396: Shakespeare in Love (1998)                           0.000000
Gender (1 =F, 0=M)                                              NaN
dtype: float64

In [240]:
# Sort movies with greatest female-male percentage liking gap
(women_likes - men_likes).sort_values(ascending=False)

2396: Shakespeare in Love (1998)                           0.750000
34: Babe (1995)                                            0.571429
541: Blade Runner (1982)                                   0.550000
356: Forrest Gump (1994)                                   0.500000
296: Pulp Fiction (1994)                                   0.416667
1: Toy Story (1995)                                        0.371429
1210: Star Wars: Episode VI - Return of the Jedi (1983)    0.250000
2028: Saving Private Ryan (1998)                           0.214286
318: Shawshank Redemption, The (1994)                      0.200000
1259: Stand by Me (1986)                                   0.178571
260: Star Wars: Episode IV - A New Hope (1977)             0.071429
780: Independence Day (ID4) (1996)                         0.047619
User                                                       0.000000
3578: Gladiator (2000)                                     0.000000
2762: Sixth Sense, The (1999)                              0.000000
1265: Groundhog Day (1993)                                -0.166667
2916: Total Recall (1990)                                 -0.200000
593: Silence of the Lambs, The (1991)                     -0.269841
527: Schindler's List (1993)                              -0.333333
2571: Matrix, The (1999)                                  -0.371429
1198: Raiders of the Lost Ark (1981)                      -0.500000
Gender (1 =F, 0=M)                                              NaN
dtype: float64

In [241]:
# Sort movies with the greatest male-female percentage liking gap
(men_likes - women_likes).sort_values(ascending=False)

1198: Raiders of the Lost Ark (1981)                       0.500000
2571: Matrix, The (1999)                                   0.371429
527: Schindler's List (1993)                               0.333333
593: Silence of the Lambs, The (1991)                      0.269841
2916: Total Recall (1990)                                  0.200000
1265: Groundhog Day (1993)                                 0.166667
3578: Gladiator (2000)                                     0.000000
2762: Sixth Sense, The (1999)                              0.000000
User                                                       0.000000
780: Independence Day (ID4) (1996)                        -0.047619
260: Star Wars: Episode IV - A New Hope (1977)            -0.071429
1259: Stand by Me (1986)                                  -0.178571
318: Shawshank Redemption, The (1994)                     -0.200000
2028: Saving Private Ryan (1998)                          -0.214286
1210: Star Wars: Episode VI - Return of the Jedi (1983)   -0.250000
1: Toy Story (1995)                                       -0.371429
296: Pulp Fiction (1994)                                  -0.416667
356: Forrest Gump (1994)                                  -0.500000
541: Blade Runner (1982)                                  -0.550000
34: Babe (1995)                                           -0.571429
2396: Shakespeare in Love (1998)                          -0.750000
Gender (1 =F, 0=M)                                              NaN
dtype: float64